<!-- <p>single-product works!</p> -->
<div class="container ">



    <div class="card mx-auto mt-2 " id="card" >
        <img src="{{product.img_path}}" class="card-img-top" alt="..">
        <h5 class="card-title">Product Name : {{product.pname}}</h5>
        <div class="card-body">
          
          <p class="card-text"> <strong>Style</strong>   : {{product.pStyle}}</p>
          <p class="card-text"><strong>FittingRange</strong>  : {{product.pFittingRange}}</p>
          <p class="card-text"><strong>Battery size</strong>  : {{product.pBattery}}</p>
          <p class="card-text"><strong>Price </strong> : {{product.price}}</p>
          <p class="card-text"><strong>Remark</strong>  : {{product.pRemarks}}</p>
          <p class="card-text"><strong>Suppliers Id</strong>  : {{product.supplier_id}}</p>
          <p class="card-text"><strong>Manufacture Id</strong>  : {{product.manufacture_id}}</p>
    
          
        </div>
      </div>
    </div>
    <br>