<div class="container mt-4 "> 
    <div class="table-responsive-md">           
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Manufacturer ID</th>
            <th>Manufacturer Name</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor ='let m of manuArr'>
            <td data-label="Manufacturer ID:">{{m._id}}</td>
            <td data-label="Manufacturer Name:">{{m.mName}}</td>
            <td data-label="Location:">{{m.loc}}</td>
            <td data-label="Phone:">{{m.phn}}</td>
            <td data-label="Email:">{{m.email}}</td>
            <!--<td><button class="btn btn-primary" (click)="displaySupplierDetails(s.id)"> More Details</button></td>-->
           <td><button class="btn btn-primary" (click)="deleteSupplier(m)">Delete</button></td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
  