<h1>Specialist Operative Service</h1>
<br>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="name">Otology</div>
      <img src="assets/Nikhitha_images/Otology.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <div class="name">Laryngology</div>
      <img src="assets/Nikhitha_images/Laryngology.jpg" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <div class="name">Paediatrics</div>
      <img src="assets/Nikhitha_images/Paediatrics.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <div class="name">Skull Base Surgery</div>
      <img src="assets/Nikhitha_images/Skull_base_surgery.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <div class="name">Rhinology</div>
      <img src="assets/Nikhitha_images/Rhinology.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>

