h1{
    // background: #77A6F7;
    font-weight: lighter;
    text-align: center;

}
.name {
    position: absolute;
    text-align: center;
    width: 100%;
    // background-color: #77A6F7;
    // margin: auto;
    margin-top: 20px;
    font-size:xx-large;
    font-weight: lighter;
  }
.container{
    width: 80%;
}