<footer >
    <div class="container py-5">
      <div class="row py-4 flex">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <!-- <p class="font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p> -->
          <div class="text">
            <h5><i class="fa fa-map-marker"></i> Address</h5>
            <p>Hospital Location:No.10P & 12P, Whitefield Rd,<br> Varthur Kodi,Ramagondanahalli, Bengaluru, Karnataka<br> 560066</p>
            </div>
            <div class="text">
                <h5><i class="fa fa-phone" aria-hidden="true"></i> Phone</h5>
                <p>+91 8061656666 / +91 8033130333,+91 8884444330,+91 8067366795</p>
            </div>
            <div class="text">
                <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email</h5>
                <p>jyotirmay.h@columbiaindiahospitals.com | enthegde@gmail.com</p>
            </div>
          <ul class="list-inline mt-4 socialIconsDiv" >
            <li class="list-inline-item"><a href="https://twitter.com/HegdeJyotirmay" target="_blank" title="twitter"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/jyotirmay.hegde" target="_blank" title="facebook"><i class="fa fa-facebook socialMeidaIcons"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCWuSiJtIx9m4Ny9nkb098_g" target="_blank" title="youtube"><i class="fa fa-youtube socialMeidaIcons"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jyotirmay-hegde-74719116/" target="_blank" title="linkedin"><i class="fa fa-linkedin socialMeidaIcons"></i></a></li>
            <li class="list-inline-item"><a href="https://jyotirmayhegde.com/plus.google.com/+JyotirmayHegde" target="_blank" title="google"><i class="fa fa-google socialMeidaIcons"></i></a></li>
            <li class="list-inline-item"><a href="https://www.skype.com/jshegdesirsi" target="_blank" title="skype"><i class="fa-solid fa-stethoscope  socialMeidaIcons"></i></a></li>
            <li class="list-inline-item"><a href="https://www.skype.com/jshegdesirsi" target="_blank" title="skype"><i class="fa fa-skype socialMeidaIcons"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Review Links</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://www.practo.com/bangalore/doctor/jyotirmay-hegde-ear-nose-throat-ent-specialist" class="">Practo</a></li>
            <li class="mb-2"><a href="https://www.columbiaindiahospitals.com/hospitals/whitefield/overview" class="">Columbia Asia</a></li>
            <li class="mb-2"><a href="https://www.vaidam.com/doctors/dr-jyotirmay-s-hegde" class="">Vaidam</a></li>
            <li class="mb-2"><a href="https://www.credihealth.com/doctor/jyotirmay-s-hegde-ent-specialist/overview" class="">Credi Health</a></li>
            <li class="mb-2"><a href="https://www.logintohealth.com/ent-specialist/jyotirmay-hegde" class="">Login To Health</a></li>
            <li class="mb-2"><a href="https://g.page/r/CfCypKrLfiMKEAE/review" class="">Google Review</a></li>
          </ul>
        </div>
        <!-- <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="">Login</a></li>
            <li class="mb-2"><a href="#" class="">Register</a></li>
            <li class="mb-2"><a href="#" class="">Wishlist</a></li>
            <li class="mb-2"><a href="#" class="">Our Products</a></li>
          </ul>
        </div> -->
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Contact us</h6>
          <p class="mb-4">Drop Us a mail in case you have any Doubt or need to an Expert to Talk About Any Issue</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>