<div class="border1">
  <div class="container">
    <h4 class="text-info fs-2 p-2"><strong>Condition We Treat</strong><p class="fs-6 text-dark">(Click any for more details)</p></h4>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Ear&nbsp;(otology)  
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse bg-light " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row ">
            
            <div class="col-sm-6 p-2">
              <ul>
                 <li>Chronic otitis media</li>
                 <li>Cholesteatoma</li>
                 <li>Ear discharge</li>
                 <li>Otitis media with Effusion (Glue ear)</li>
                 <li>Ear wax</li>
                 <li>Microtia / Aplastic ear</li>
                 <li>Otosclerosis</li>
                 
                </ul>
                <hr> 
            </div>
            <div class="col-sm-6 p-2">
              <ul>
                <li>Perforated ear drum</li>
                <li>Deafness</li>
                <li>Otitis externa</li>
                <li>Acute Otitis Media</li>
                <li>Otomycosis</li>
                <li>Foreign body</li>
                
              </ul>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
         Hearing loss and Speech Disorders
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse " aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row ">
            <div class="col-sm-6">
               <ul>
                 <li>Conductive hearing loss</li>
                 <li>Sensorineural hearing loss</li>
                 <li>Sudden hearing loss</li>
                 <li>Speech and language delay</li>
                 <li>Articulation disorders</li>
                 <li>Speech and language problems associated with neurological disorders</li>
                 
               </ul>
               <hr>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Stuttering</li>
                <li>Voice disorders</li>
                <li>Feeding and swallowing disorders</li>
                <li>Speech and language re/habilitation for the hearing impaired</li>
                <li>Pre-school language groups and parent training</li>
                
              </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         Voice and Swallowing
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-6">
               <ul>
                 <li>Hoarseness</li>
                 <li>Vocal nodules</li>
                 <li>Vocal cord paralysis</li>
                 <li>Vocal polyp</li>
                 <li>Laryngitis</li>
                 
               </ul>
               <hr>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Tonsillitis</li>
                <li>Adenoids</li>
                <li>Laryngopharyngeal reflux</li>
                <li>Pharyngitis</li>
                <li>Vocal cord tumours</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Nose, Sinus & Allergy  (Rhinology)
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse " aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-6">
               <ul>
                 <li>Nasal polyps</li>
                 <li>Rhinitis</li>
                 <li>Sinusists</li>
                 <li>Nasal tumours</li>
                 
                 
               </ul>
               <hr>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Deviated nasal septum</li>
                <li>Nasal deformity</li>
                <li>Nasal bleeding / Epistaxis</li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
         Dizziness and Vertigo
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse " aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-6">
               <ul>
                 <li>Vertigo</li>
                 <li>BPPV</li>
                 <li>Menieres disease</li>
                 <li>Labyrinthitis</li>
                 
                 
               </ul>
               <hr>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Vestibular schwannoma</li>
                <li>Facial palsy</li>
                <li>Vestibular neuritis</li>
                <li>Tinnitus</li>
                
                
              </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
         Children (Paediatric) ENT
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse bg-light" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-6">
               <ul>
                 <li>Deafness</li>
                 <li>Allergic rhinitis</li>
                 <li>Sinusistis</li>
                 <li>Tonsillitis</li>
                 <li>Adenoids</li>
                 <li>Snoring and sleep apnoea</li>
                 <li>Otitis Media with effusion (glue ear)</li>
                 <li>Speech delay</li>
                 <li>Choanal atresia</li>
                 <li>Noisy breathing</li>
                 <li>Breathing difficulty</li>
               </ul>
               <hr>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Laryngomalacia</li>
                <li>Microtia / ear malformation</li>
                <li>Vocal cord palsy</li>
                <li>Foreign body</li>
                <li>Tracheomalacia</li>
                <li>Subglottic stenosis
                </li>
                <li>Hoarseness</li>
                <li>Snoring</li>
                <li>Recurrent Respiratory Papillomatosis</li>
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Skull Base 
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse " aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-6">
               <ul>
                 <li>Pituitary tumours</li>
                 <li>CSF leak</li>
                 <li>Nasopharyngeal Angiofibroma</li>
                 
                 
               </ul>
               <hr>
            </div>
            <div class="col-sm-6">
              <ul>
                <li>Vestibular Schwannoma</li>
                <li>Glomus tumours</li>
                
                
                
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
        Heck And Neck 
        </button>
      </h2>
    <div id="flush-collapseEight" class="accordion-collapse collapse " aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-sm-6">
             <ul>
               <li>Thyroid</li>
               <li>Parotid</li>
               <li>Salivary Stones</li>
               <li>Lymph nodes</li>
               <li>Thyroglossal cyst</li>
               
             </ul>
             <hr>
          </div>
          <div class="col-sm-6">
            <ul>
              <li>Laryngomalacia</li>
              <li>Branchial cyst</li>
              <li>Neck abscess</li>
              <li>Snoring & Sleep related disorders</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <br>
</div>
  
  