<nav class="navbar navbar-expand-lg" id="navv">
  <div class="container-fluid">
    <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarList">
        <!-- <li class="nav-item">
          <a class="nav-link customLink" aria-current="page" [routerLink]="['/products']">
            <span class="material-icons md-18" style="font-size:18px;">
              category 
            </span>
            Products
          </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']">
            <!-- <span class="material-icons" style="font-size: 18px;">
              factory
            </span> -->
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aboutus']">
            <!-- <span class="material-icons " style="font-size:20px;">
              local_shipping
            </span> -->
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/facilities']">
            <!-- <span class="material-icons" style="font-size:20px;">
              groups
            </span> -->
            Facilities
          </a>
        </li>
        <li class=" dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" [routerLink]="['/view-products']">Products</a>
            <a class="dropdown-item" [routerLink]="['/view-manufacturers']">Manufacturers</a>
            <a class="dropdown-item" [routerLink]="['/view-suppliers']">Suppleirs</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/conditions-we-treat']">
            <!-- <span class="material-icons" style="font-size:17px;">
              shopping_cart
            </span> -->
            Condition We Treat
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Specialist-operative-services']">
            <!-- <span class="material-icons" style="font-size:19px;">
              admin_panel_settings
            </span> -->
            Specialist Operative Services
          </a>
        </li>

        <li class=" dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Patient Information
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/link-to-faq']">Links to FAQ</a>
            <a class="dropdown-item" [routerLink]="['/info-about-operations']">Information About Operations</a>
            <a class="dropdown-item" [routerLink]="['/black-fungus-awareness']">Black Fungus Awareness</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactus']">
            <!-- <span class="material-icons" style="font-size:20px;">
              groups
            </span> -->
            Contact Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [style.display]="display" [routerLink]="['/admin']">
            <!-- <span class="material-icons" style="font-size:20px;">
              groups
            </span> -->
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">WishList</a>
        </li>
        <li class="nav-item" [style.display]="displayLogIn">
          <a
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            
          >
            <span class="material-icons" style="font-size: 19px" > login </span>
            <!-- {{this.loggedIn? 'Logout' : 'Log In'}} -->
            LogIn
          </a>
          <!-- <button type="button" class="btn btn-primary btnLogIn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> -->
          <!-- </button> -->
        </li>
        <li class="nav-item" [style.display]="displayLogOut">
          <a
            class="nav-link"
            (click)="this.handleLogIn()"            
          >
            <span class="material-icons" style="font-size: 19px" > login </span>
            <!-- {{this.loggedIn? 'Logout' : 'Log In'}} -->
            Logout
          </a>
          <!-- <button type="button" class="btn btn-primary btnLogIn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> -->
          <!-- </button> -->
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdropSignUp"
          >
            <span class="material-icons" style="font-size: 18px">
              how_to_reg
            </span>
            Sign Up
          </a>
          <!-- <button type="button" class="btn btn-primary btnLogIn" data-bs-toggle="modal" data-bs-target="#staticBackdropSignUp"> -->
          <!-- </button> -->
        </li>
      </ul>
      <!-- <div id="secondNavDiv">
      <div>
        <ul class="socialIconsDiv" >
          <li class="list-inline-item"><a href="https://twitter.com/HegdeJyotirmay" target="_blank" title="twitter"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/jyotirmay.hegde" target="_blank" title="facebook"><i class="fa fa-facebook socialMeidaIcons"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCWuSiJtIx9m4Ny9nkb098_g" target="_blank" title="youtube"><i class="fa fa-youtube socialMeidaIcons"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/jyotirmay-hegde-74719116/" target="_blank" title="linkedin"><i class="fa fa-linkedin socialMeidaIcons"></i></a></li>
          <li class="list-inline-item"><a href="https://jyotirmayhegde.com/plus.google.com/+JyotirmayHegde" target="_blank" title="google"><i class="fa fa-google socialMeidaIcons"></i></a></li>
          <li class="list-inline-item"><a href="https://www.skype.com/jshegdesirsi" target="_blank" title="skype"><i class="fa-solid fa-stethoscope  socialMeidaIcons"></i></a></li>
          <li class="list-inline-item"><a href="https://www.skype.com/jshegdesirsi" target="_blank" title="skype"><i class="fa fa-skype socialMeidaIcons"></i></a></li>
        </ul>
      </div>
    </div> -->
    </div>
  </div>
</nav>
<div id="bannerSupporter">
  <div>
    <ul class="socialIconsDiv">
      <li class="list-inline-item">
        <a
          href="https://twitter.com/HegdeJyotirmay"
          target="_blank"
          title="twitter"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.facebook.com/jyotirmay.hegde"
          target="_blank"
          title="facebook"
          ><i class="fa fa-facebook socialMeidaIcons"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.youtube.com/channel/UCWuSiJtIx9m4Ny9nkb098_g"
          target="_blank"
          title="youtube"
          ><i class="fa fa-youtube socialMeidaIcons"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.linkedin.com/in/jyotirmay-hegde-74719116/"
          target="_blank"
          title="linkedin"
          ><i class="fa fa-linkedin socialMeidaIcons"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://jyotirmayhegde.com/plus.google.com/+JyotirmayHegde"
          target="_blank"
          title="google"
          ><i class="fa fa-google socialMeidaIcons"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.skype.com/jshegdesirsi"
          target="_blank"
          title="skype"
          ><i class="fa-solid fa-stethoscope socialMeidaIcons"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.skype.com/jshegdesirsi"
          target="_blank"
          title="skype"
          ><i class="fa fa-skype socialMeidaIcons"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="galleryBlog">
    <button class="galleryBlogBtn"><a style="text-decoration: none;color: white;" [routerLink]="['/gallery']">Gallery</a></button>|<button
      class="galleryBlogBtn"
    >
    <a style="text-decoration: none;color: white;" [routerLink]="['/link-to-faq']">Blog</a>
    </button>
  </div>
  <div class="appointment"><a style="text-decoration: none;color: white;" href="https://www.manipalhospitals.com/varthurroad/doctors-list/ear-nose-throat/">Make An appointment</a></div>
  <div class="phoneNumber">
    +91 8061656666/+91 8033130333,+91 8884444330,+91 6364799898
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade modalBody"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          style="text-align: center"
          id="staticBackdropLabel"
        >
          Log In
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="RegisterformLogin" (ngSubmit)="onSubmitLogin()">
          <div class="col-md-12">
            <label for="username">Email</label>
            <input
              type="text"
              formControlName="usernameLogin"
              class="form-control"
              [ngClass]="{ 'is-invalid': submittedLogin && f1['usernameLogin'].errors }"
            />
            <div
              *ngIf="submitted && f1['usernameLogin'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1['usernameLogin'].errors['required']">
               Email is required
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submittedLogin && f1['password'].errors }"
            />
            <div
              *ngIf="submittedLogin && f1['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f1['password'].errors['required']">
                Password is required
              </div>
              <div *ngIf="f1['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <input
            class="form-check-input"
            type="checkbox"
            id="myCheck"
            name="remember"
            required
          />
          <label class="form-check-label" for="myCheck">Remember Me.</label>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">.</div>
          <br />
          <a href="#">Forgot password? </a>
          <br />
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" (click)="onSubmitLogin()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade modalBody"
  id="staticBackdropSignUp"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelSignUp">Sign Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <h1>SIGN UP</h1> -->
        <form [formGroup]="Registerform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-6">
              <label for="firstname">First Name</label>
              <input
                type="text"
                formControlName="firstname"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
              />
              <div
                *ngIf="submitted && f['firstname'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['firstname'].errors['required']">
                  First Name is required
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                formControlName="lastname"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"
              />
              <div
                *ngIf="submitted && f['lastname'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['lastname'].errors['required']">
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="dob">Date of Birth</label>
              <input
                type="date"
                formControlName="dob"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }"
              />
              <div
                *ngIf="submitted && f['dob'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['dob'].errors['required']">
                  Date of Birth is required
                </div>
                <div *ngIf="f['dob'].errors['pattern']">
                  
                  Date of Birth must be a valid date in the format YYYY-MM-DD
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="gender">Gender</label>
              <select name="gender" id="gender" (change)="SelectGenderChange($event)">
                <option value="">-Select Gender-</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <div
                *ngIf="submitted && f['gender'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['gender'].errors['required']">
                  Last Name is required
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="emailid">Email</label>
              <input
                type="text"
                formControlName="emailid"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['emailid'].errors }"
              />
              <div
                *ngIf="submitted && f['emailid'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['emailid'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="f['emailid'].errors['emailid']">
                  Email must be a valid email address
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <div
                *ngIf="submitted && f['password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['password'].errors['required']">
                  Password is required
                </div>
                <div *ngIf="f['password'].errors['minlength']">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="repassword">Confirm Password</label>
              <input
                type="password"
                formControlName="repassword"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['repassword'].errors
                }"
              />
              <div
                *ngIf="submitted && f['repassword'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['repassword'].errors['required']">
                  Confirm Password is required
                </div>
                <div *ngIf="f['repassword'].errors['mustMatch']">
                  Passwords must match
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="profession">Profession</label>
              <input
                type="text"
                formControlName="profession"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['profession'].errors
                }"
              />
              <div
                *ngIf="submitted && f['profession'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['profession'].errors['required']">
                  Profession is required
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="phonenumber">Phone Number</label>
              <input
                type="text"
                formControlName="phonenumber"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['phonenumber'].errors
                }"
              />
              <div
                *ngIf="submitted && f['phonenumber'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['phonenumber'].errors['required']">
                  Phone Number is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="address1">Address1</label>
              <input
                type="text"
                formControlName="address1"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['address1'].errors }"
              />
              <div
                *ngIf="submitted && f['address1'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['address1'].errors['required']">
                  Address 1 is required
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="address2">Address2</label>
              <input
                type="text"
                formControlName="address2"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['address2'].errors }"
              />
              <div
                *ngIf="submitted && f['address2'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['address2'].errors['required']">
                  Address 2 is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="city">City</label>
              <input
                type="text"
                formControlName="city"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
              />
              <div
                *ngIf="submitted && f['city'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['city'].errors['required']">City is required</div>
              </div>
            </div>
            <div class="form-group col">
              <label for="state">State</label>
              <select
                id="inputState"
                class="form-control"
                formControlName="state"
              >
                <option selected>Choose...</option>
                <option value="">Select States</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Andaman and Nicobar Islands">
                  Andaman and Nicobar Islands
                </option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadar and Nagar Haveli">
                  Dadar and Nagar Haveli
                </option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
              <div
                *ngIf="submitted && f['state'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['state'].errors['required']">
                  State is required
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="country">Country</label>
              <input
                type="text"
                formControlName="country"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
              />
              <div
                *ngIf="submitted && f['address1'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['address1'].errors['required']">
                  Country is required
                </div>
              </div>
            </div>
            <div class="form-group col">
              <label for="pin">Pin</label>
              <input
                type="number"
                formControlName="pin"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['pin'].errors }"
              />
              <div
                *ngIf="submitted && f['pin'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['pin'].errors['required']">Pin is required</div>
              </div>
            </div>
          </div>
          <!--<div class="form-group form-check">
                  <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
                  <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                  <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">Accept Ts & Cs is required</div>
              </div>-->
          <div class="text-center">
            <button class="btn btn-success" type="submit">Register</button>
            &nbsp; &nbsp;
            <button class="btn btn-secondary" type="reset" data-dismiss="modal">
              Cancel
            </button>
          </div>
          <!-- <button
            type="button"
            id="bttn"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#signup"
          >
            SignUp
          </button> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="bannerImagesDiv">
  <div>
    <img
      class="bannerImage"
      src="assets/paramImages/logoDoctorBanner.png"
      alt=""
    />
  </div>
  <div>
    <img
      class="bannerImage"
      src="assets/paramImages/manipalHospitalLogo.png"
      alt=""
    />
  </div>
  <div class="info">
    <div class="text">
      <h5><i class="fa fa-envelope" style="color: #123c69;" aria-hidden="true"></i> Email</h5>
        <p style="font-size: small;">jyotirmay.h@columbiaindiahospitals.com | enthegde@gmail.com</p>
    </div>
  </div>
</div>
