<!-- <p>gallery works!</p> -->
<div>
    <div class="container-fluid">
      <div  class="row">
        <div class="col-md-2 border">
          
          <h5 class=" text-dark mt-2"> <strong>Informative Links </strong> </h5>
          <h6 class="fs-6 text-center mt-1">Video Link</h6> 
          <ul>
            
            
            <li ><a href="https://youtu.be/BrpywolniS4">Dr. Jyotirmay S Hegde, ENT, Columbia Asia Hospital, Whitefield</a></li>
            <hr>
            <li><a href="https://youtu.be/01sL6tDA3Vg">ENT Surgeries & Treatment Procedures | Dr. Jyothirmay S Hegde, Columbia Asia Hospitals, Whitefield</a></li>
            <hr>
            <li ><a href="#" >Dr. Hegde Introduction</a></li>
            <hr>
            <li><a href="#">Covid related talk</a></li>
            <hr>
            <li><a href="#">ENT Surgeries & Treatment Procedures _ Dr. Jyothirmay S Hegde, Columbia Asia Hospitals, Whitefield
            </a></li>
  
          </ul> 
          <hr > 
          <h6 class="fs-6 text-center mt-2">Article</h6> 
          <ul>
            <li><a href="https://healthvision.in/black-fungus-in-covid-patients-who-have-to-be-more-cautious/">Health Vision</a></li>
            <hr>
            <li><a href="https://www.cityairnews.com/content/black-fungus-in-covid-patients-awareness-is-the-key">City air news</a></li>
            <hr>
            <li><a href="https://onlineandyou.com/article/black-fungus-in-covid-patients-awareness-is-the-key.html">Healthy Soch</a></li>
            <hr>
            <li><a href="https://www.healthysoch.com/health/general/black-fungus-in-covid-patients-awareness-is-the-key/">Express New Asia</a></li>
            <hr>
            <li><a href="https://www.punekarnews.in/black-fungus-in-covid-patients-awareness-is-the-key/">Punekar News</a></li>
            <hr>
            <li><a href="#">News Patrolling</a></li>
            <hr>
          </ul>   
          </div>
          
        
        <div id='links' class="col-sm-10  ">
             <div class="row">
                <h1 class="text-center mt-2"><i><strong>Gallery</strong></i></h1>
                <div class="col-sm-3  ">
                  <div id="card" class="img-fluid img-thumbnail">
                    <a href="../../assets/gallery-images/Receiving_award_@_AAOHNS,Chicago_USA.jpg" target="_blank">
                      <img src="../../assets/gallery-images/Receiving_award_@_AAOHNS,Chicago_USA.jpg" style="width:100%">
                      <div class="caption">
                        <p class="text-dark">Receiving award @ AAONHS<br>Chicago,USA</p>
                      </div>
                    </a>
                  </div>
                 
                  <div id="card" class="img-fluid img-thumbnail mt-2">
                    <a href="../../assets/gallery-images/With_Dr_Lalwani_@_USA.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Lalwani_@_USA.jpg" alt=".." style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">With Dr.Lalwani <br> @ USA</p>
                      </div>
                    </a>
                  </div>
                  <div id="card"  class="img-fluid img-thumbnail mt-2 border">
                    <a href="../../assets/gallery-images/With_Dr_Wormald_Australia.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Wormald_Australia.jpg" alt=".." style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">With Dr. Wormald <br> Australia</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2 border">
                    <a href="../../assets/gallery-images/With_Dr_Castelnuovo_Italy.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Castelnuovo_Italy.jpg" alt=".." style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">With Dr. Castelnuovo <br> @ Italy</p>
                      </div>
                    </a>
                  </div>
                  <div  class="img-fluid img-thumbnail mt-2 border">
                    <a href="../../assets/gallery-images/With_Dr_Snyderman_@_UPMC_Pittsburgh_USA.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Snyderman_@_UPMC_Pittsburgh_USA.jpg" alt=".." style="width:100%;height:24rem;" >
                      <div class="caption">
                        <p class="text-dark">With Dr. Snyderman <br> @ UPMC,Pittsburgh,USA</p>
                      </div>
                    </a>
                  </div>
                  <div  class="img-fluid img-thumbnail mt-2 border">
                    <a href="../../assets/gallery-images/With_the_Director_of_JIPMER.png" target="_blank">
                      <img src="../../assets/gallery-images/With_the_Director_of_JIPMER.png" alt=".." style="width:100%;height:24rem;" >
                      <div class="caption">
                        <p class="text-dark">With the Director of JIPMER</p>
                      </div>
                    </a>
                  </div>
                </div>
                
              
                <div class="col-sm-3  ">
                  
                  <div id="card" class="img-fluid img-thumbnail">
                    <a href="../../assets/gallery-images/Receiving_BACO_Fellowship_Liverpool_UK.jpg" target="_blank">
                      <img src="../../assets/gallery-images/Receiving_BACO_Fellowship_Liverpool_UK.jpg" alt="Nature" style="width:100%">
                      <div class="caption">
                        <p class="text-dark">Receiving BACO Fellowship, Liverpool. UK</p>
                      </div>
                    </a>
                  </div>
                
                
                <div id="card" class="img-fluid img-thumbnail mt-2">
                  <a href="../../assets/gallery-images/With_the_stalwarts_of_skullbase_surgery.jpg" target="_blank">
                    <img src="../../assets/gallery-images/With_the_stalwarts_of_skullbase_surgery.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p class="text-dark">With the stalwarts of  skullbase <br> surgery</p>
                    </div>
                  </a>
                </div>
                <div id="card" class="img-fluid img-thumbnail mt-2">
                  <a href="../../assets/gallery-images/With_Dr_Ramesh_@_ JIPMER.jpg" target="_blank">
                    <img src="../../assets/gallery-images/With_Dr_Ramesh_@_ JIPMER.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p class="text-dark">With Dr. Ramesh  <br> @ JIPMER</p>
                    </div>
                  </a>
                </div>
                <div id="card" class="img-fluid img-thumbnail mt-2">
                  <a href="../../assets/gallery-images/With_Indian_scholars_@_BACO_UK.jpg" target="_blank">
                    <img src="../../assets/gallery-images/With_Indian_scholars_@_BACO_UK.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p class="text-dark">With Indian scholars <br> @ BACO,UK</p>
                    </div>
                  </a>
                </div>
                <div id="card" class="img-fluid img-thumbnail mt-2 border">
                  <a href="../../assets/gallery-images/With_Dr_Aldo_Stamm_Brazil.jpg" target="_blank">
                    <img src="../../assets/gallery-images/With_Dr_Aldo_Stamm_Brazil.jpg" alt=".." style="width:100%;height:24rem;" >
                    <div class="caption">
                      <p class="text-dark">With Dr. Aldo Stamm <br> @ Brazil</p>
                    </div>
                  </a>
                </div>
              </div>
  
                <div class="col-sm-3 ">
                  
                  <div id="card" class="img-fluid img-thumbnail">
                    <a href="../../assets/gallery-images/With_Dr_Nikhil_J_Bhatt_USA.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Nikhil_J_Bhatt_USA.jpg" alt="Nature" style="width:100%">
                      <div class="caption">
                        <p class="text-dark">With Dr. Nikhil J Bhatt <br> @ USA</p>
                      </div>
                    </a>
                  </div>
                 
                  <div id="card" class="img-fluid img-thumbnail mt-2">
                    <a href="../../assets/gallery-images/With_Dr_Breno_Brazil.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Breno_Brazil.jpg" alt="Nature" style="width:100%">
                      <div class="caption">
                        <p class="text-dark">With Dr. Breno <br> @ Brazil</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2 ">
                    <a href="../../assets/gallery-images/With_Dr_Rao_UK.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Rao_UK.jpg" alt="Nature" class="" style="width:100%">
                      <div class="caption">
                        <p class="text-dark">With Dr. Rao <br> @ UK</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2 ">
                    <a href="../../assets/gallery-images/With_Dr_Rao_UK.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Kishore_Sandhu_Switzerland.jpg" alt="Nature" class="" style="width:100%">
                      <div class="caption">
                        <p class="text-dark">With Dr. Kishore Sandhu <br> @ Switzerland</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2 border">
                    <a href="../../assets/gallery-images/With_Dr_Snyderman_@_JIPMER.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Snyderman_@_JIPMER.jpg" alt=".." style="width:100%;height:24rem;" >
                      <div class="caption">
                        <p class="text-dark">With Dr.Snyderman <br>@ JIPMER</p>
                      </div>
                    </a>
                  </div>
                </div>
              
                <div class="col-sm-3  ">
                  <div id="card" class="img-fluid img-thumbnail">
                    <a href="../../assets/gallery-images/With_Dr_Tashihiro_@_Japan.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Tashihiro_@_Japan.jpg" alt="Nature"style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">With Dr. Tashihiro <br> @ Japan</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2">
                    <a href="../../assets/gallery-images/With_Dr_Philippe_Monier_Laussane_ Switzerland.jpg" target="_blank">
                      <img src="../../assets/gallery-images/With_Dr_Philippe_Monier_Laussane_ Switzerland.jpg" alt="Nature"style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">With Dr. Philippe Monier, Laussane, Switzerland</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2">
                    <a href="../../assets/gallery-images/With_my_mentor_Mr_ Andrew_Swift_UK.JPG" target="_blank">
                      <img src="../../assets/gallery-images/With_my_mentor_Mr_ Andrew_Swift_UK.JPG" alt="Nature"style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">With my mentor Mr. Andrew Swift<br> @ UK</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2">
                    <a href="../../assets/gallery-images/UPMC_Pittsburgh_USA.jpg" target="_blank">
                      <img src="../../assets/gallery-images/UPMC_Pittsburgh_USA.jpg" alt="Nature"style="width:100%" >
                      <div class="caption">
                        <p class="text-dark">UPMC Pittsburgh <br> @ USA</p>
                      </div>
                    </a>
                  </div>
                  <div id="card" class="img-fluid img-thumbnail mt-2 border">
                    <a href="../../assets/gallery-images/Skullbase_conference_JIPMER.jpg" target="_blank">
                      <img src="../../assets/gallery-images/Skullbase_conference_JIPMER.jpg" alt=".." style="width:100%;height:24rem;" >
                      <div class="caption">
                        <p class="text-dark">Skullbase conference <br> @ JIPMER</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
             </div> 
        </div>
        
  
  
      </div>
  
    
  </div>
  
  