
.container{
    width:100%;
    height: 100vh;
    padding:0 8%;    
}
 h1{
    text-align: center;
    padding-top: 2%;
    margin-bottom: 30px;
    font-weight: lighter;
    position: relative;
}
h1::after{
    content: '';
    background: #303ef7;
    width: 200px;
    height: 5px;
    position: absolute;
    transform: translate(-50%);
    bottom:-10px;
    left: 50%;
}
.row{
    margin-top: 20px;
}
#service{
    margin-top: 15px;
    margin-right: 4%;
    margin-left: 4%;
    box-shadow: 10px 10px 5px   #a6b7d3 ;   
}
p,li{
    text-align: justify;
    background-color: #ffffff;
}
#service,h6,h2,p{
    border-radius: 20px;
    background-color:#ffffff;
    text-align: center;
    padding:5px;
    font-weight: normal;

}
#service:hover{
    transform: scale(1.05);
    
}
.container-fluid{
    background-color: #ffffff;;
}
button{
    background-color: #a6b7d3 ;
    background-image: linear-gradient(to bottom,#77A6F7 ,#D3E3FC);
}