
<div class="container-fluid">
    <h1>Our Facilities</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5 >This is a summary of different facilities provided</h5>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" id="lists" style="margin-left: 40px;">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="assets/srirakshaimages/EntFacilities.png" class="img-fluid" width="400px" alt="EntFacilities"/>
                        </div>
                        <div class="col-md-6">
                            <li>ENT Consultation</li>
                            <li>Nasal Endoscopy</li>
                            <li>Flexible Laryngo Bronchoscopy</li>
                            <li>Examination Under Microscope</li>
                            <li>Micro Ear Surgeries</li>
                            <li>Micro laryngeal Surgery</li>
                            <li>Oto-acoustic emissions</li>
                            <li>Functional Endoscopic Sinus Surgery</li>     
                            <li> Head & Neck surgeries</li>
                            <li> Routine ENT Surgeries</li>
                            <li> Puretone Audiometry</li>
                            <li> Impedance Audiometry</li>
                            <li> Brain Stem Evoked Response Audiometry</li>
                            <li> Hearing Aids Dispensing</li>
                            <li> Speciality Clinics</li>
                            <li>Cochlear Implant Surgery</li>                    
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="service">
            <h2>Endoscopy</h2>
            <h6>Video endoscopy of the ear, nose and throat</h6>
            <p style="text-align: justify;">The out patient clinics are equipped with clean and sterilised instruments
                for examination. We have video endoscopy facilities for detailed evaluation of the ear, nose and throat.
                This also allows us to document the findings and demonstrate these to the patient and attendants for
                their education.</p>
        </div>
        <div class="col-md-3" id="service">
            <h2>Endoscopic</h2>
            <h6>Endoscopic nose, sinus and skull base surgery</h6>
            <p style="text-align: justify;">State of the art equipment for video endoscopic surgery allows for targeted
                and precise minimally invasive surgery on the nose, sinuses and surrunding structures. High quality
                video camera and recording systems allow the surgeon to carry out these delicate operations safely for
                his patient..</p>
        </div>
        <div class="col-md-3" id="service">
            <h2>Microscopic</h2>
            <h6>Microscopic ear and neuro-otologic surgery</h6>
            <p style="text-align: justify;">All ear and neuro-otological operations are carried out using high qualtiy
                motorised microscopes. These provide brilliant illumination and large magnification to allow the surgeon
                to carry out the presice and delicate movements that are required when operating on the ear, hearing
                apparatus and adjoining structures of the brain.</p>
        </div>
        <div class="col-md-3" id="service">
            <h2>Testing</h2>
            <h6><li>Allergy testing</li></h6>
            <p style="text-align: justify;">For patients with allergies of the airway, allergy tests provide the patient
                and family with useful information on substances that they may be allergic to, and thus have to avoid in
                order to manage their allergies better. Allergy tests may be carried out using either a blood sample or
                skin prick tests.</p>
                <h6><li>Balance testing</li></h6>
                <p style="text-align: justify;">Facilities exist for the evaluation of patients who dizziness, vertigo or other problems with their balance..</p>
        </div>
        <div class="col-md-3" id="service">
            <h2>Coblation</h2>
            <p style="text-align: justify;">Modern day surgery utilises the benefit of presice cutting and sealing of tissues using lasers and radiofrquency technology. We have a variety of lasers that may be used when appropriate for operating in the ear, nose and throat. Similary we use radiofrequency equipment such as coblation for bloodless tissue cutting and reduction and at the same time reducing the heat trauma to surrounding structures..</p>
        </div>
        <div class="col-md-3" id="service">
            <h2>Speciality Clinics</h2>
            
            <li>Hearing -Otology clinic</li>
            <li>Balance related problems-Vertigo clinic</li>
            <li>Paediatric ENT clinic</li>
            <li>Nose, sinus , skull base & Allergy-Rhinology & Skull base surgery clinic</li>
            <li>Voice , speech and swallowing clinic</li>
            <li>Head &Neck clinic</li>
            <li>Sleep related disorders clinic</li>
        </div>
    </div>
    <br>
</div>